.venuesite 
{
background: #0F3925; 
width: 580;
color: #ffff66; 
text-align: center; 
line-height: 1.05em; 
font-size: .8em; 
font-weight: bold; 
font-family: arial 
}
.VenueHdr 
{
background: #0F3925; 
width: 580;
color: #ffff66; 
text-align: center; 
font-size: 1.2em; 
line-height: 1.6em; 
font-weight: bold; 
font-style: italic; 
font-family: arial;
width: 580px;
}
.venueeditbody
{
bgcolor:#0F3925;
}
.MainTable
{
background:#f5e3a1; 
cellpadding:5;
border:thick; 
bordercolor:#0099D1;
align: center;
width:580px;
}
.inserttable
{
background:#FEFCD8;
cellpadding: 5;
border:0;
bordercolor:#0099D1; 
align: center;
width: 580px;
}
.act { 
background: #f5e3a1; 
color: black; 
text-align: center; 
line-height: .8em; 
font-size: .65em; 
font-weight: semi-bold; 
font-family: arial; 
}
.editeventdate { 
margin: 0px; 0px; 0px; 50px;
cellpadding: 2; 
background: #839887; 
color:#f5e3a7; 
text-align: center; 
line-height: 1.09em; 
font-size: .85em; 
font-weight: bold; 
font-family: arial; }

.title { padding: 1; 
background: #e2cf8b;
color: #660033;
text-align: center;
line-height: 1.05em;<br>
font-size: .75em; 
font-family: arial 
}
.sourceinfo {
font-size: .75em;
color: #00cc00;
text-align: left;
}

.photosearchhdr
{
color: #f5e3a1;
background:#839887; 
border: thick; 
border-style: ridge; 
border-color:#c8cec9; 
cellpadding:4;
font-size: 1.05em;
font-weight: 600;
}
